[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
serial = "*"
requests = "*"
pandas = "*"
numpy = "*"
pyserial = "*"
pynvim = "*"
seaborn = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
